<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
  </head>
  <body
    id="wrapper_html_body"
    style="
      background-color: aliceblue;
      border-style: solid;
      border-color: blue;
      border-width: 0.2rem;
      border-radius: 0.2rem;
    "
  >
    <div>_layouts/wrapper.html → body</div>
    {% include header.html color="green" %}
    <h1 style="color: cornflowerblue">{{ site.title }}</h1>
    {{ content }}
  </body>
</html>
